@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;

@{   
    var imageSettings = Kit.Image.Settings("MyItem", width: 1200, height: 400, quality: 0.8);
}

@Html.Partial("partials/_heading.cshtml", new { header = MyHeader, defaultHeadingLevel = "h2", defaultHeadingSize = "h2" })

<div class="row" @Html.Partial("partials/_toolbar.cshtml", new { data = MyItem, type = "default" })>
     @foreach (var card in MyItems) { 
        // Image Settings  
        var altText = Text.First(card.String("Image.Image.Metadata.Description"), card.String("Image.AltText"));
        
        // Presentation Variables  
        var pres = card.Presentation;
        var headingType = pres.String("HeadingSize");

       // The Card 
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card" @Html.Partial("partials/_toolbar.cshtml", new { data = card, type = "list-item-default" })>
               @* Dustin: - i have ticket in as error back says that the @card.Picture("Image.Image")
             is not working yet or any variatio of how you migt write that. 
             https://github.com/2sic/2sxc/issues/3189

             Another way: @Kit.Image.Img(card.Url("Image.Image"), settings: imageSettings, imgClass: "card-img-top", imgAlt: altText)
             *@
             
             @card.Child("Image").Picture("Image", settings: imageSettings, imgClass: "card-img-top", imgAlt: altText)

                <div class="card-body">
                    @* Should be supply choice of heading size on card title, made adjustment *@
                     @card.Html("Heading", container: headingType).Class("card-title")
                    <p class="card-text">@card.String("BodyContent")</p>
                     @Html.Partial("partials/_button.cshtml", new { style = "btn-primary", btn = card.Child("Link"), enableToolbar = true })
                </div>
            </div>
        </div>
    }
</div>

