@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@*
  This partial is designed to consistently handle the markup for buttons.

  ----------------------------------------------
  - Parameters
  ----------------------------------------------
  
  style = Modifier class for the button variant to be displayed
  data = Link entity to be used as data for the button
  enableToolbar = Optional boolean that determines whether the toolbar should show, true by default

  ----------------------------------------------
  - Usage
  ----------------------------------------------

  @Html.Partial("partials/_button.cshtml", new { data = Content.Link, style = "btn-primary", enableToolbar = false })
*@

@{
  
  var btn = MyModel.Item("btn");
  var style = btn.String("style", required: false);
  bool enableToolbar = (MyModel.Bool("EnableToolbar") == false) ? false : true; // Default to true

  string styleClasses = (style == "") ? "" : string.Format("btn {0}", style);

  var displayText = btn.String("DisplayText");
  var linkUrl = btn.Url("URL");
  var linkTarget = btn.String("Target");

@*  The above replaces this link builder code that needs to be upgraded to new Typed version.

  var linkHelper = CreateInstance("../helpers/LinkHelper.cs");
  var linkInfo = linkHelper.LinkInfo(DynamicModel.Data);
  string linkTarget = linkInfo.Window;

*@
  var toolbar = (enableToolbar) ? Html.Partial("_toolbar.cshtml", new { data = btn, type = "edit-or-remove", color = (style == "btn-primary") ? "var(--bs-secondary)" : "" }) : null;
}

<a
  class="@(styleClasses)"
  href="@(linkUrl)"
  target="@(linkTarget)"
  @(toolbar)
>
  @(displayText)
</a>

