@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@{
  var header = MyModel.Item("Header");
  var headerpres = header.Presentation;

  var defaultHeadingSize = Text.First(MyModel.String("DefaultHeadingSize"), "h2");
  var defaultHeadingLevel = Text.First(MyModel.String("DefaultHeadingLevel"), "h2");

  var headingLevel = Text.First(headerpres.String("HeadingLevel"), defaultHeadingLevel);
  var headingSize = Text.First(headerpres.String("HeadingSize"), defaultHeadingSize);


  var heading = header.String("Heading");
  var subheading = header.String("Subheading", required: false);
  var bodyContent = header.String("BodyContent", required: false);
  var links = header.Get("Links", required: false);
  var anchor = header.String("Anchor", required: false);
}

@if(Text.Has(heading)) {
    <div id="@(anchor)" class="row mb-3" @Html.Partial("_toolbar.cshtml", new { data = header, type = "edit-or-remove" })>
        <div class="col-12 text-center">
            @header.Html("Heading", container: headingSize ).Class(headingLevel)

            @if (Text.Has(subheading)) {
                @Tag.Strong(subheading)
            }

            @if (Text.Has(bodyContent)) {
                @Html.Raw(bodyContent)
            }

            @foreach(var link in AsItems(links)) {
                @Html.Partial("_button.cshtml", new { btn = link, enableToolbar = true })
            }
        </div>
    </div>

} else if (MyContext.User.IsSiteAdmin) {
    <div class="row mb-3" @Html.Partial("_toolbar.cshtml", new { data = header, type = "edit-only" })>
        <div class="col-12 text-center">
            <h2>Add a Heading Here</h2>
        </div>
    </div>
}